@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0;
    color: hsl(0, 12%, 87%);;
}

#container {
    background-color: hsl(216, 50%, 16%);
    width: 320px;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
.hero-img {
    margin: 0;
}

.hero-img > img{
    width: 100%;
    border-radius: 5px;
}

header h3 {
    font-weight: 400;
}

.card__details {
    font-weight: 300;
    font-size: 14px;
    color: rgb(94, 120, 156);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.card__cost {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.card__details div {
    display: flex;
}

.card__details img {
    padding-right: 3px;
}

hr {
    border-color: hsl(215, 32%, 27%);
}

.card__credits {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;
    justify-content: space-around;
}

.card__credits img {
    width: 30px;
    height: 30px;
    border: white solid 1px;
    border-radius: 50%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.highlightme {
    color: hsl(215, 51%, 70%);
}